@import '../../styles/functions';
@import '../../styles/variables';

.containerSubscribe{
  text-align: center;
  padding-top: 5rem;
  color: white;
  
  .titleSubcribe{
    @include title;
  }

  .containerInputs{
    margin: 2rem auto;
    width: 20rem;
  }

  .badMessage{
    @include text;
    @include message($color: $goColor )
  }

  .messageOk{
    @include text;
    @include message($color: rgb(22, 11, 117) )
  }
}