@import '../../styles/functions';
@import '../../styles/variables';

.containerGame{
  margin: 2rem;
  width: 12rem;
  padding: 1rem;
  box-shadow: -1px -1px 50px 5px rgba(80,79,79,0.81);

  .imgGame{
    width: 10rem;
    height: 12rem;
    object-fit: cover;
  }
  .nameGame{
    @include text;
    font-weight: bold;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $textColor;
  }
}