@import '../../styles/functions';
@import '../../styles/variables';

.containerGame{
  margin: 2rem;
  width: 12rem;
  height: 20rem;
  padding: 1rem;
  box-shadow: -1px -1px 25px 3px $goColor;

  &:hover{
    transform: scale(1.1);
  }

  .imgGame{
    width: 10rem;
    height: 12rem;
    object-fit: cover;
  }
  .nameGame{
    @include text;
    font-weight: bold;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $textColor;
  }
}