@import '../../styles/functions';

.containerShowGame{
  margin-top: -3rem;
  text-align: center;
  .titleShowGame{
    @include title;
    margin-bottom: 2rem;

    @include mobile(){
      font-size: 1.5em;
    }
  }
  .imgShowGame{
    @include mobile(){
      width: 15rem;
    }
  }
  .desShowGame{
    @include text;
    width: 80%;
    margin: 2rem auto;
    line-height: 1.5rem;
  }
  .trailerPlay{
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include mobile(){
      flex-direction: column;
    }

    .contentTrailer{
      margin-bottom: 2rem;
      width: 35rem;
      height: 20rem;

      @include mobile(){
        width: 20rem;
        height: 10rem; 
      }
      .titleTrailer{
        @include text;
        font-weight: bold;
        margin: 2rem 0 2rem 2rem;
        text-align: start;
      }
    }   
    .divPlayGame{
      margin-right: 10rem;

      @include mobile(){
        margin-right: 0;
        margin-top: 4rem;
      }
    }

  }
}