@import './variables';

@mixin title(){
  color: $titleColor;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0px 0px 4px $textColor;
};

@mixin text(){
  color: $textColor;
  font-size: 1em;
};

@mixin message($color){
  font-weight: bold;
  height: 3rem;
  width: 20rem;
  margin: 0 auto;
  padding-top: 1rem;
  border-radius: 10px;
  background-color: $color;
};