@import '../../styles/functions';

.containerCards {
  text-align: center;
  margin-top: 12rem;

  .titleCards {
    @include title;
    margin-bottom: 2rem;
  }

  .containerCard {
    display: flex;
    justify-content: center;
    @include mobile() {
      flex-direction: column;
      margin-left: -3rem;
    }
  }
}
