@import '../../styles/variables';
@import '../../styles/functions';

.containerAbout {
  height: 100vh;
  background-image: url('https://i.postimg.cc/sgj7KYYx/fondoabout-removebg.png');
  background-color: rgba(0, 0, 0, 0.8);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .titleAbout {
    position: relative;
    font-weight: bolder;
    font-size: 2rem;
    overflow: hidden;
    border-right: 0.15em solid $textColor;
    white-space: nowrap;
    letter-spacing: 0.15em;
    color: $titleColor;
    text-shadow: 0 0 5px $textColor, 0 0 10px $textColor, 0 0 10px $textColor;

    margin-bottom: 5rem;

    animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;

    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 35rem;
      }
    }

    @keyframes blink-caret {
      from,
      to {
        border-color: transparent;
      }
      50% {
        border-color: $textColor;
      }
    }
    @include mobile() {
      font-size: 1.3em;
      .animate {
        width: 100%;
      }
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 22rem;
        }
      }
    }
  }
  .explicationAbout {
    @include title;
    position: relative;
    margin-bottom: 2rem;
  }
  .textAbout {
    @include text;
    position: relative;
    width: 60%;
    margin: 0 auto;
    line-height: 1.5rem;
    text-shadow: 0px 0px 2px $titleColor;
  }
  @include mobile() {
    .explicationAbout {
      font-size: 1.5em;
    }
    .textAbout {
      font-size: 0.9em;
    }
  }
}
