@import '../../styles/variables';
@import '../../styles/functions';

.containerScreens{
  text-align: center;
  height: 90vh;
  margin-top: 3rem;
  
  .titleScreens{
    @include title;
    margin-bottom: 3rem;
  }
  .divInfoScreens{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    .imgScreen{
      width: 45rem;
    }
    .textScreen{
      @include text;
      width: 15rem;
      line-height: 1.5rem;
      margin-right: 8rem;
    }
  }
}